<%- include("partials/head") %>
  <body id="form-page">
    <main class="site-main">
        <div class="logo-container">
            <p><a href="/">members<em>Exclusive</em></a></p>
        </div>
        <h1 class="page-header"><%= title %></h1>
        <hr class="header-break">

        <section class="form-section">
            <div class="form-errors-container">
                <% if (errors && errors.length) { %>
                    <ul class="form-errors">
                        <% errors.forEach(error => { %>
                            <li><p class="error"><%- error.msg %></p></li>
                        <% }); %>
                    </ul>
                <% } %>

                <% if (authentication_error && authentication_error.length) { %>
                    <ul class="form-errors">
                        <li><p class="error"><%- authentication_error %></p></li>
                    </ul>
                <% } %>
            </div>

            <form method="POST">
                <div class="form-input-container">
                    <label for="username">Username (*)</label>
                    <input 
                        type="text" 
                        id="username" 
                        name="username"
                        minlength="1" 
                        maxlength="20" 
                        value="<%= username ? username : '' %>"
                        required
                    >
                </div>
                <div class="form-input-container">
                    <label for="password">Password (*)</label>
                    <input 
                        type="password" 
                        id="password" 
                        name="password" 
                        minlength="1" 
                        required
                    >
                </div>
                <div class="form-button-container">
                    <p><a href="/posts">Cancel</a></p>
                    <button type="submit">Submit</button>
                </div>
            </form>
            <hr class="secondary-break">
            <p class="secondary-choice">Don't have an account?<a href="/user/sign-up"> Sign up.</a></p>

        </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
